.button {
  border-radius: var(--border-radius-default);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  cursor: pointer;
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-bold);
  max-width: var(--width-input);
  padding: 0.5em 1em;
  margin: 0.5em 0;
  transition: transform 0.1s ease;
  width: 100%;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

/** TODO: Create separate styles for .primary and .secondary variants of this button:
* - Must use the CSS variables declared in App.css
*/

.primary {
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  color: white;
}

.primary:hover {
  background-color: color-mix(in srgb, var(--color-brand) 85%, black);
  border-color: color-mix(in srgb, var(--color-brand) 85%, black);
}

.secondary {
  background-color: transparent;
  border: 2px solid var(--color-brand);
  color: var(--color-brand);
}

.secondary:hover {
  background-color: var(--color-brand);
  color: white;
}

.spinner {
  height: 1em;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  vertical-align: middle;
  overflow: hidden;
}

.secondary .spinner {
  border-color: rgba(65, 62, 247, 0.3);
  border-top-color: var(--color-brand);
}
